*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62%;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}
body{
    background-color: #e3e6e6;
}



/* Header Section Start */
header{
    background: #00453e;
    padding: 10px 18px;
    width: 100%;
    display: flex;
    align-items: center;
}
/* Header Left */
/* Header Logo */
.header-left{
    flex-basis: 10%;
    display: flex;
}
.header-logo{
    flex-basis: 45%;
    margin-right: 5px;
    transition: 0.3s;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo:hover{
    border: 1px solid #fff;
}
.header-logo a{
    text-decoration: none;
}
.header-logo a img{
    max-width: 100px;
}

/* Header Location */
.header-location{
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0 5px;
    transition: 0.4s;
}
.header-location:hover{
    border: 1px solid #fff;
}
.loc-icon{}
.loc-icon i{
    color: #fff;
    font-size: 2rem;
    margin-top: 8px;
}

.loc-content{
    padding: 5px;
}
.loc-content p{
    font-size: 1.3rem;
    color: #ffffff99;
    font-weight: 500;
}
.loc-content h3{
    color: #fff;
    font-size: 1.3rem;
}


/* Header Middle Section */
.header-middle{
    flex-basis: 75%;
    margin: 0 22px;
    display: flex;
    align-items: center;
}
.middle-left{
    flex-basis: 4%;
    padding: 15px 8px;
    background: #e6e6e6;
    border-radius: 5px 0 0 5px;
}
.all-menu{
    width: 40px;
    display: inline-block;
    color: #55555e;
    text-decoration: none; 
    font-size: 1.3rem;
}
.all-menu i{
    margin-left: 7px;
    font-size: 1.1rem;
    transform: rotate(90deg);
}
.middle-mid{
    flex-basis: 92%;
}
.middle-mid input{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 14px 10px;
    border: none;
    outline: none;
}

.middle-right{
    flex-basis: 4%;
}
#search{
    width: 40px;
    padding: 14px 0;
    color: #55555e;
    background: #ffdfd7;
    text-decoration: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
}
#search i{
    font-size: 1.8rem;
}

/* Header-right */

.header-right{
    flex-basis: 25%;
    display: flex;
    align-items: center;
    margin: 0px;
}
/* Language Section */
.header-lang{
    flex-basis: 15%;
    padding: 15px 20px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.header-lang:hover{
    border: 1px solid #fff;
}
.header-lang img{
    width: 20px;
    border-radius: 3px;
}
.lang-list{
    display: flex;
    padding: 0 5px;
}
.lang-list span{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0px;
}
.lang-list i{
    color: #ffffff90;
    font-size: 1.2rem;
    transform: rotate(90deg);
}

/* Account */
.header-account{
    flex-basis: 30%;
    padding: 8px 5px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.header-account:hover{
    border: 1px solid #fff;
}

.acc-content{}
.acc-content p{
    font-size: 1.3rem;
    width: 100px;
    color: #fff;
    font-weight: 400;
}
.acc-content h3{
    color: #fff;
    width: 100px;
    font-weight: 700;
    font-size: 1.3rem;
}

.header-account i{
    color: #ffffff80;
    font-size: 1.3rem;
    transform: rotate(90deg);
    margin: 15px 0 0 5px;
}

/* Order */
.header-order{
    flex-basis: 15%;
    padding: 8px 5px;
    margin: 0 5px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    transition: 0.4s;
}
.header-order:hover{
    border: 1px solid #fff;
}

.order-content{}
.order-content p{
    font-size: 1.3rem;
    width: 60px;
    color: #fff;
    font-weight: 500;
}
.order-content h3{
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
}

/* Cart */
.header-cart{
    flex-basis: 15%;
    padding: 10px 5px;
    margin: 0 5px;
    display: flex;
}
.header-cart:hover{
    border: 1px solid #fff;
}
.header-cart i{
    color: #fff;
    font-size: 2.8rem;
}
.header-cart p{
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    font-size: 1.4rem;
}


/* Header Bottom Section */
.header-bottom{
    background: #195851;
    padding: 0px 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-bottom-item{
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    color: #ddd;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 0px 8px 5px 8px;
    margin: 0 2px;
    transition: 0.3s;
}

.header-bottom-item:hover{
    border: 1px solid #fff;
}


/* Header Section End */

/* Slider Section Start */
.container{
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.slider{
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider-item{
    /* background-image: linear-gradient(transparent, #e3e6e6); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    flex: 0 0 100%;
    animation: slides 100s 50s infinite;
}
.slider-item.active{
    transform: translateX(0);
}
.slider-item::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-image: linear-gradient(transparent 10%, #e3e6e6 90%);
}
@keyframes slides {
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-200%);
    }
    60%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(-500%);
    }
}
.slider-item:nth-child(1){
    background-image: url("../img/Slide1.jpg");
}
.slider-item:nth-child(2){
    background-image: url("../img/Slide2.jpg");
}
.slider-item:nth-child(3){
    background-image: url("../img/Slide3.jpg");
}
.slider-item:nth-child(4){
    background-image: url("../img/Slide4.jpg");
}
.slider-item:nth-child(5){
    background-image: url("../img/Slide5.jpg");
}
.slider-item:nth-child(6){
    background-image: url("../img/Slide6.jpg");
}

.slider-order{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slide-left,
.slide-right{
    color: #ffffff80;
    font-size: 4rem;
    cursor: pointer;
    margin: 50px 30px;
}

/* Shop Now Item */
.shop-now{
    position: absolute;
    left: 0;
    top: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.shop-item{
    flex: 0 0 23%;
    padding: 15px;
    background-color: #fff;
    margin: 10px;
}
.shop-item h2{
    font-size: 2rem;
}
.shop-item img{
    width: 100%;
    height: 250px;
    background: #000;
}
.shop-item a{
    display: inline-block;
    color: #195851;
    font-size: 1.4rem;
    text-decoration: none;
    transition: 0.4s;
}
.shop-item a:hover{
    color: red;
}
/* Slider Section End */

/* Popular Product */
.popular{
    max-width: 1500px;
    margin: 5px auto;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}
.popular h2{
    font-size: 2rem;
    margin-bottom: 5px;
}
.popular-slider{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.pop-item{

    flex: 0 0 100%;
    height: 200px;
}
.pop-item.active{
    transform: translateX(0);
}

.pop-order{
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pop-left,
.pop-right{
    font-size: 4rem;
    color: #ddd;
}